// @import './responsive.scss';
:root {
  --background-color: #fff;
  --background-input-color: #2c3e50;
  --primary-color: #1890ff;
  --second-color: #001529;
  --text-color: #333;
  --second-text-color: rgba(255, 255, 255, 0.65);
}

.hover {
  &:hover {
    color: var(--primary-color);
  }
}
.border-hover {
  &:hover {
    border-color: var(--primary-color);
  }
}
.transition {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.box-shadow {
  box-shadow: rgb(45 45 45 / 7%);
  transition: box-shadow 0.3s ease-out, transform 0.3s ease-out,
    opacity 0.2s ease-out;
  transition-delay: 0.1s;
  &:hover {
    box-shadow: rgb(45 45 45 / 5%) 0px 2px 2px, rgb(49 49 49 / 5%) 0px 4px 4px,
      rgb(42 42 42 / 5%) 0px 8px 8px, rgb(32 32 32 / 5%) 0px 16px 16px,
      rgb(49 49 49 / 5%) 0px 32px 32px, rgb(35 35 35 / 5%) 0px 64px 64px !important;
  }
}
.ant-layout-sider .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
.ant-layout-header {
  height: 0px !important;
}
.task-background {
  padding: 10px 0;
  overflow-y: auto !important;
  ::-webkit-scrollbar {
    width: 5px;
    position: absolute;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }
  &:hover {
    .task-btn {
      opacity: 1;
      visibility: visible;
    }
  }
}
.task-btn {
  @extend .transition;
  opacity: 0;
  visibility: hidden;
}
.task-background-component {
  padding: 10px 15px 10px 0px;
  background-image: 
  linear-gradient(
    0, 
    transparent,
    hsla(0,0%,72.9%,.12941176470588237) ,
    hsla(0,0%,72.9%,.12941176470588237),
    transparent
    );
  // background: #bababa21;
  margin: 0 5px;
  padding: 15px;
  position: relative;
  height: 100%;
  .ant-card {
    max-width: 230px;
    width: 230px;
    box-shadow: rgb(45 45 45 / 7%);
    transition: box-shadow 0.3s ease-out, transform 0.3s ease-out,
      opacity 0.2s ease-out;
    transition-delay: 0.1s;
    &:hover {
      box-shadow: rgb(45 45 45 / 5%) 0px 2px 2px, rgb(49 49 49 / 5%) 0px 4px 4px,
        rgb(42 42 42 / 5%) 0px 8px 8px, rgb(32 32 32 / 5%) 0px 16px 16px,
        rgb(49 49 49 / 5%) 0px 32px 32px, rgb(35 35 35 / 5%) 0px 64px 64px !important;
    }
  }
  h2 {
    text-align: left;
  }
}

@keyframes FadeToLeft {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
// Tag css
.btn {
  outline: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  @extend .transition;
  & {
    padding: 4px 15px;
    border: 1px solid #eee;
    cursor: pointer;
  }
  @extend .hover;
  @extend .border-hover;
}
// Card CSS
.todo-card-ui {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background: #fff;
  margin: 15px 0;
  box-shadow: rgb(45 45 45 / 7%);
  transition: box-shadow 0.3s ease-out, transform 0.3s ease-out,
    opacity 0.2s ease-out;
  transition-delay: 0.1s;
  .body {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    flex-wrap: wrap;
    padding: 8px;
    justify-content: space-around;

    .ant-col {
      margin: auto;
    }
    .avatar {
      align-self: center;
      height: auto;
      margin-left: -8px;
      padding: 8px;
    }
    .content {
      text-align: center;
      padding: 5px;
      margin-right: -10px;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
      }
    }
  }
  .title {
    text-align: left;
  }
  .desc {
    text-align: left;
  }
  .footer {
    margin: 0 8px;
    padding: 8px 0;
    .action-button {
      padding: 8px;
      margin: -8px 0;
      border-top: 1px solid #eee;
      display: flex;
      justify-content: center;
      width: 100%;
      flex: 1 1 auto;
      span {
        width: 100%;
        padding: 10px 8px;
        font-size: 16px;
        transition: all 0.2s ease;
        svg {
          cursor: pointer;
        }
        &:not(:last-child) {
          border-right: 1px solid #eee;
        }
        &:hover {
          color: #1890ff;
        }
      }
    }
  }
  &:hover {
    box-shadow: rgb(45 45 45 / 5%) 0px 2px 2px, rgb(49 49 49 / 5%) 0px 4px 4px,
      rgb(42 42 42 / 5%) 0px 8px 8px, rgb(32 32 32 / 5%) 0px 16px 16px,
      rgb(49 49 49 / 5%) 0px 32px 32px, rgb(35 35 35 / 5%) 0px 64px 64px !important;
  }
}

// Input Css
.form-group {
  .input {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    padding: 8px 4px;
    align-items: center;
    text-align: left;
    label {
      width: 33.33%;
    }
    input,
    .select {
      width: 75%;
    }
  }
  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: 0.25em;
    & select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      outline: 0;
      box-shadow: none;
      border: 0 !important;
      background: #2c3e50;
      background-image: none;
    }
    & select::-ms-expand {
      display: none;
    }
    &::after {
      content: '\25BC';
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 1em;
      background: #34495e;
      cursor: pointer;
      pointer-events: none;
      -webkit-transition: 0.25s all ease;
      -o-transition: 0.25s all ease;
      transition: 0.25s all ease;
    }
    /* Transition */
    &:hover::after {
      color: #f39c12;
    }
    select {
      flex: 1;
      padding: 0 0.5em;
      cursor: pointer;
      color: #fff;
    }
  }
  .checkbox {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;
    label {
      width: 20%;
    }
    label:not(:first-child) {
      width: calc(100% / 3);
    }
  }
}
.validate {
  display: none;
}
.err-validate {
  display: flex !important;
  justify-content: center;
  color: rgb(169, 41, 41);
}

// Home css
// .ant-layout-content {
//   height:100vh;
//   overflow-y:scroll;
// }
.wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: space-between;
  .sidebarr {
    width: calc(25% - 8px);
    margin: 4px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow-y: scroll;
    .side {
      margin: 5px 0;
      height: auto;
      width: 100%;
      display: flex;
      flex: 1 1 auto;
      .side-children {
        margin: 20px;
        background: #fff;
        display: flex;
        flex: 1 1 auto;
        @extend .box-shadow;
        flex-direction: column;
        padding: 8px;
        text-align: center;
        border: 1px solid #eee;
      }
    }
  }
  .content {
    padding: 4px;
    width: calc(75% - 8px);
    border-left: 1px solid #eee;
    margin: 4px;
    .content-children {
      margin: 20px;
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      .search {
        background: rgb(247, 247, 247);
        height: 50px;
      }
      .main-content {
        background: #fff;
        height: 50vh;
      }
      .footer-content {
        background: #fff;
      }
    }
  }
}
.home-content {
  border-left: 1px solid #eee;
  display: block;
  flex-direction: column;
  margin: 15px 0;
  .search {
    position: relative;
    label {
      position: absolute;
      right: 10px;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      color: var(--primary-color);
    }
    input {
      border: none;
      outline: none;
      background: rgba(255, 255, 255, 0.3);
      border: 1px solid rgba(0, 0, 0, 5%);
      border-radius: 20px;
      padding: 4px 12px;
      width: 100%;
      @extend .transition;
      &:focus,
      &:hover {
        border-color: var(--primary-color);
      }
    }
  }
  .main-content {
    background: #fff;
    height: auto;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    padding: 20px;
    @extend .box-shadow;
    .todo-left-dashboard {
      ul {
        margin: 0 auto;
        text-align: center;
      }
      .project-timeline .item {
        display: flex;
        flex-wrap: wrap;
      }
    }
    .todo-right-dashboard {
      .todo-user {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 auto;
        .project-user {
          display: flex;
          flex-wrap: wrap;
          flex: 0 0 auto;
          justify-content: center;
        }
        ul {
          text-align: left;
        }
      }
    }
  }
  .footer-content {
    // background: #fff;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    .footer-item {
      background: #fff;
      border-radius: 5px;
      @extend .box-shadow;
      padding: 12px 20px;
      margin: 0 auto;
      align-items: center;
      margin: 8px;
      img {
        object-fit: cover;
        width: 100%;
        height: auto;
        max-height: 100px;
      }
    }
  }
}

// Pop up
.popup-action {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  @extend .transition;
  // display:none;
  min-width: 100px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 5%);
  ul {
    list-style-type: none;
    background: #fff;
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 2;
    margin: 0;
    li {
      width: 100%;
      display: flex;
      a {
        margin: 4px;
        padding: 4px 8px;
        border-bottom: 1px solid #eee;
        width: 100%;
        color: inherit;
        text-align: left;
        @extend .transition;
        @extend .hover;
        // @extend .border-hover;
      }
      &:nth-child(4) a {
        border: none;
      }
    }
  }
}
.popup-action.popup-active {
  opacity: 1;
  visibility: visible;
  bottom: 0;
  left: 0;
  transform: translateY(-50px);
  // display:block;
}

//Side bar
.todo-sidebar {
  display: block;
  height: 100%;
  background: #2c3e50;
  nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .logo {
      height: 40px;
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      li {
        width: 100%;
        a {
          width: 100%;
          padding: 8px 12px;
          display: block;
        }
      }
    }
  }
}
// Screen XS

@media screen and (max-width: 526px) {
  .main-content {
    flex-direction: column;
    .todo-left-dashboard {
      width: 100%;
      ul {
        text-align: left;
      }
      .project-timeline .item {
        display: flex;
        span {
          width: 100%;
        }
      }
    }
    .todo-right-dashboard {
      width: 100%;
      .todo-user {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 auto;
        .project-user {
          display: flex;
          flex-wrap: wrap;
          flex: 0 0 auto;
          justify-content: center;
          width: 50%;
        }
        ul {
          text-align: left;
        }
      }
    }
  }
}
@media screen and (min-width: 526px) {
  .main-content {
    flex-direction: column;
    .todo-left-dashboard {
      width: 100%;
      ul {
        text-align: left;
      }
      .project-timeline .item {
        display: flex;
        flex-direction: row;
        span {
          width: 50%;
        }
      }
    }
    .todo-right-dashboard {
      width: 100%;
      .todo-user {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 auto;
        .project-user {
          display: flex;
          flex-wrap: wrap;
          flex: 0 0 auto;
          justify-content: center;
          width: 50%;
        }
        ul {
          text-align: left;
        }
      }
    }
  }
}
@media screen and (min-width: 769px) {
  .main-content {
    flex-direction: column;
    .todo-left-dashboard {
      width: 100%;
    }
    .todo-right-dashboard {
      width: 100%;
    }
  }
}
// Screen LG

@media screen and (min-width: 992px) {
  .footer-content {
    flex-direction: row;
  }
  .main-content {
    flex-direction: row;
    .todo-left-dashboard {
      width: 50%;
    }
    .todo-right-dashboard {
      width: 50%;
    }
  }
}
// Sidebar mobile
@media (min-width: 769px) {
  .sidebar-mobile {
    display: none;
  }
}
@media (max-width: 768px) {
  .sidebar-desktop {
    display: none;
  }
  .sidebar-mobile {
    display: block;
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    background: rgb(0, 21, 41);
    ul {
      display: flex;
      flex-direction: row;
      flex: 1 1 auto;
      justify-content: center;
      padding: 4px;
      li {
        display: flex;
        flex-direction: column-reverse;
        margin: none;
        padding: 0;
        background: inherit !important;
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        flex: 1 1 auto;
        span,
        a {
          // color: rgba(255, 255, 255, 0.65) !important;
        }
        span .ant-menu-title-content {
          text-align: center;
          margin-left: 0 !important;
        }
        a {
          font-size: 10px;
        }
      }
      .ant-menu-item {
        align-items: center;
        span {
          margin-left: 0;
        }
      }
      .ant-menu-item-selected,
      li:hover {
        span,
        a {
          color: #1890ff !important;
        }
      }
      // .ant-menu-item-selected {
      //   span,
      //   a {
      //     color: #fff;
      //   }
      // }
    }
  }
}
